<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Suphada Thongthai Portfolio</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <a class="navber" href="/">Home</a>
        <a class="navber" href="/aboutme"> My About</a>
        <a class="navber" href="/education">My Education</a>
        <a class="navber" href="/workexperience">My Work Experience</a>
        <a class="navber" href="/skills">My Skills</a>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>