<h1>{{myData.name}}</h1>
<h2>Personal Skills</h2>
<div>
    <ul class="info">
        {{#with myData.personalSkills}}
        <li><span class="first-block">{{personalSkills}}</span>
        
        
        {{/with}}
    </ul>
</div>